<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'image/logo.png' %}" type="image/x-icon">
    <title>Rawluk Baby Needs</title>

</head>

<body style="background-color:peachpuff">
    <header id="headerset" class="site-header" role="contentinfo-header">

        <div class="header-wrapper">
            <ul>
                <li>

                </li>
            </ul>
        </div>
    </header>
    <main>
        <!-- <img src="{% static 'image/cominsoonlatest.png' %}" class="loading" width="1520" height="733"> -->
        <img src="{% static 'image/latestcoming_1.png' %}" width="1650" height="850"  alt="coming-soon">
    </main>

    <footer id="colophon" class="site-footer" role="contentinfo">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="social-wrapper">
            <ul>
                <li>
                    <p>Contact us on</p>
                </li>
                <li>
                    <a href="https://www.facebook.com/Rawlukbabyneeds" class="fa fa-facebook" target="_blank"></a>
                </li>
                <li>

                    <a href="https://www.instagram.com/raw_luk/" class="fa fa-instagram" target="_blank"></a>
                </li>

                <li>

                    <a href="https://wa.me/919148134511" class="fa fa-whatsapp" target="_blank"></a>

                </li>
            </ul>
        </div>
    </footer>
</body>
</html>